{% extends "base.html" %}
{% load blog_tags %}

{% block title %}
    {% if author %}
        Posts by "{{ author }}"
    {% elif tag %}
        Posts with "{{ tag.name }}" tag
    {% else %}
        Abdullah's blog
    {% endif %}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                {% if author %}
                    <h2 class="title">Posts by "{{ author }}"</h2>
                {% elif tag %}
                    <h2 class="title">Posts with "{{ tag.name }}" tag</h2>
                {% elif 'query' in request.GET %}
                    <h2 class="title">Search results</h2>
                {% else %}
                    <h2 class="title">Posts</h2>
                {% endif %}
                {% for post in posts %}
                    <div class="card card-plain">
                        <div class="card-body">
                            <h4 class="card-title"><a href="{{ post.get_absolute_url }}">{{ post.title.title }}</a></h4>
                            <h6 class="card-subtitle mb-2 text-muted">Published on {{ post.publish }} by <a href="{% url "blog:post_by_author" post.author %}">{{ post.author }}</a></h6>
                            <p class="card-text">{{ post.body|truncatewords:50 }}</p>
                            {% for tag in post.tags.all %}
                                <span class="badge badge-default bg-dark">
                                    <a href="{% url "blog:post_by_tag" tag.slug %}" style="color:white;">{{ tag.name }}</a>
                                </span>
                            {% endfor %}
                        </div>
                    </div>
                    <hr>
                {% endfor %}
                {% include "blog/post/pagination.html" with page=posts %}
            </div>
            <div class="col-md-4">
                <h5 class="title">Search</h5>
                {% include "blog/post/search_form.html" with form=search_form %}
                <h5 class="title">Latest Posts</h5>
                {% get_latest_posts 3 %}
                <h5 class="title">Most Commented Posts</h5>
                {% get_most_commented_posts 3 %}
            </div>
        </div>
    </div>
{% endblock content %}